.menu {
  margin-right: 0px!important;
  align-items: flex-end;
}

.main-view {
  margin-top: 50px;
  margin-bottom: 50px;
}

.movie-grid {
  display: grid;
  margin-top: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 15px;
}

@media all and (max-width: 768px) {
.movie-grid {
  display: grid;
  margin-top: 20px;
  grid-template-columns: 1fr;
  column-gap: 10px;
  row-gap: 15px;
}
}