.mr-auto {
  margin-right: 0rem!important;
  align-items: flex-end;
}

.main-view {
  margin-top: 50px;
  margin-bottom: 50px;
}

.movie-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 15px;
}