.profile-button {
  margin-bottom: 5px;
}

.remove-favorite {
  margin-bottom: 5px;
  margin-top: 5px;
}

.profile-details {
  margin-bottom: 15px;
}

.userProfile {
  text-align: center;
}

.favorite-details {
  margin-top: 25px;
  margin-bottom: 25px;
}

.favoriteMovies {
  text-align: -webkit-center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 15px;
}

@media all and (max-width: 768px) {
  .favoriteMovies {
    display: block;
    text-align: -webkit-center;
  }
}